<div class="dialog-container">
  <div class="dialog" @fadeIn>
    <div class="dialog__header">
      <h4 class="dialog__title">Historial: {{ bolsillo?.nombre }}</h4>
      <button class="dialog__button-close" (click)="cerrar()">
        <i class="fa-solid fa-xmark fa-2xl"></i>
      </button>
    </div>

    <div class="dialog__content">
      <div class="pockets__records">
        <div
          class="pockets__records__item"
          [ngClass]="{
            'pockets__records__item--load': movimiento.tipo == 'carga-bolsillo',
            'pockets__records__item--unload':
              movimiento.tipo == 'descarga-bolsillo'
          }"
          *ngFor="let movimiento of movimientos"
        >
          <div class="pockets__records__item__info">
            <span class="pockets__records__item__type">
              {{ utilsService.obtenerNombreTipoMovimiento(movimiento.tipo) }}
            </span>
            <span class="pockets__records__item__date">
              {{ utilsService.convertirFecha(movimiento.fecha) }}
            </span>
          </div>
          <span class="pockets__records__item__amount">
            {{ utilsService.convertirCOP(movimiento.monto) }}
          </span>
        </div>
      </div>
    </div>

    <div class="dialog__footer">
      <button class="dialog__footer__button" (click)="cerrar()">
        Cancelar
      </button>
    </div>
  </div>
</div>
