<div class="dialog-container">
  <div class="dialog" @fadeIn>
    <div class="dialog__header">
      <h4 class="dialog__title">Historial: {{ bolsillo?.nombre }}</h4>
      <button class="dialog__button-close" (click)="cerrar()">
        <i class="fa-solid fa-xmark fa-2xl"></i>
      </button>
    </div>

    <div class="dialog__content">Hola</div>

    <div class="dialog__footer">
      <button class="dialog__footer__button" (click)="cerrar()">
        Cancelar
      </button>
    </div>
  </div>
</div>
