<div class="page">
  <div class="settings__menu">
    <ul class="settings__menu__list">
      <li
        class="settings__menu__option"
        [ngClass]="{ 'settings__menu__option--selected': ruta == 'identity' }"
        routerLink="identity"
      >
        <i class="settings__menu__option__icon fa-solid fa-id-card fa-xl"></i>
        <span class="settings__menu__option__text">Identificación</span>
        <div class="settings__menu__option-line"></div>
      </li>

      <li
        class="settings__menu__option"
        [ngClass]="{ 'settings__menu__option--selected': ruta == 'name' }"
        routerLink="name"
      >
        <i class="settings__menu__option__icon fa-solid fa-signature fa-xl"></i>
        <span class="settings__menu__option__text">Nombre</span>
        <div class="settings__menu__option-line"></div>
      </li>

      <li
        class="settings__menu__option"
        [ngClass]="{ 'settings__menu__option--selected': ruta == 'birthday' }"
        routerLink="birthday"
      >
        <i
          class="settings__menu__option__icon fa-solid fa-cake-candles fa-xl"
        ></i>
        <span class="settings__menu__option__text">Fecha de nacimiento</span>
        <div class="settings__menu__option-line"></div>
      </li>

      <li
        class="settings__menu__option"
        [ngClass]="{ 'settings__menu__option--selected': ruta == 'email' }"
        routerLink="email"
      >
        <i class="settings__menu__option__icon fa-solid fa-envelope fa-xl"></i>
        <span class="settings__menu__option__text">Correo electrónico</span>
        <div class="settings__menu__option-line"></div>
      </li>

      <li
        class="settings__menu__option"
        [ngClass]="{ 'settings__menu__option--selected': ruta == 'password' }"
        routerLink="password"
      >
        <i class="settings__menu__option__icon fa-solid fa-key fa-xl"></i>
        <span class="settings__menu__option__text">Contraseña</span>
        <div class="settings__menu__option-line"></div>
      </li>
    </ul>
  </div>

  <hr />

  <div class="settings__content">
    <router-outlet></router-outlet>
  </div>
</div>
