<div class="page">
  <div class="savings__left">
    <div class="savings__card">
      <div class="savings__card__header">
        <h4 class="savings__card__title">Cuenta de ahorros</h4>
      </div>
      <div class="savings__card__content">
        <h5 class="savings__card__subtitle">Tu dinero</h5>
        <div class="savings__card__balance">
          <span class="savings__card__amount">
            $ 100,000,000.00
          </span>
          <i class="fa-solid fa-eye-slash"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="savings__right">

  </div>
</div>