.page {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.savings__left {
  flex-basis: 45%;
}

.account__card {
  position: sticky;
  top: 60px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid var(--color-gray);
  box-shadow: 3px 3px 6px var(--color-shadow);
  overflow: hidden;
}

.account__card__header {
  text-align: center;
  background-color: var(--color-secondary);
  padding: 16px 38px;
}

.account__card__title {
  color: var(--color-light);
}

.account__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 40px;
  background-color: var(--color-light);
}

.account__card__balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.account__card__amount {
  font-size: var(--font-size-title-2);
  font-weight: bold;
}

.account__card__balance__toggle {
  background-color: transparent;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.account__card__balance__toggle:hover {
  background-color: var(--color-light-gray);
}

.account__card__balance__toggle:active .account__card__amount__icon {
  color: var(--color-secondary);
}

.account__card__balance__toggle--show .account__card__amount__icon--show {
  display: none;
}

.account__card__balance__toggle--hide .account__card__amount__icon--hide {
  display: none;
}

.account__card__amount__icon {
  color: var(--color-gray);
  transition: all 100ms ease-in-out;
}

.account__card__options {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.account__card__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border-radius: 20px;
  color: var(--color-light);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.account__card__button--load {
  background-color: var(--color-success);
}

.account__card__button--unload {
  background-color: var(--color-warning);
}

.account__card__button--load:hover {
  background-color: var(--color-success-hover);
  box-shadow: 0px 0px 1px 1px var(--color-success);
}

.account__card__button--unload:hover {
  background-color: var(--color-warning-hover);
  box-shadow: 0px 0px 1px 1px var(--color-warning);
}

.account__card__button__text {
  font-size: var(--font-size-title-6);
  font-weight: bold;
}

.savings__right {
  flex-basis: 55%;
}

.movements {
  padding: 20px;
}

.movements__title {
  text-align: end;
  margin-bottom: 40px;
}

.movements__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0px 20px;
}

.movements__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--color-light-gray);
}

.movements__item__left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.movements__icon {
  width: 30px;
  align-self: center;
  color: var(--color-secondary);
}

.movements__item--load .movements__icon,
.movements__item--load .movements__amount {
  color: var(--color-success);
}

.movements__item--unload .movements__icon,
.movements__item--unload .movements__amount {
  color: var(--color-danger);
}

.movements__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movements__details__desc {
  font-size: var(--font-size-text-big);
  font-weight: bold;
}

.movements__details__date {
  font-size: var(--font-size-text-small);
  color: var(--color-gray);
}

.movements__amount {
  align-self: end;
  font-size: var(--font-size-text-big);
  font-weight: bold;
}