<app-savings-load
  [cuenta]="cuentaCarga"
  *ngIf="dialogoCarga"
  (closeDialog)="cerrarDialogoCarga()"
></app-savings-load>

<app-savings-unload
  *ngIf="dialogoDescarga"
  (closeDialog)="cerrarDialogoDescarga()"
></app-savings-unload>

<div class="page">
  <div class="savings__left">
    <div class="account__card">
      <div class="account__card__header">
        <h5 class="account__card__title">Cuenta de ahorros</h5>
      </div>
      <div class="account__card__content">
        <h4 class="account__card__subtitle">Tu dinero</h4>
        <div class="account__card__balance">
          <span class="account__card__amount">
            <span *ngIf="!saldoOculto; else saldoOcultado">{{
              saldo ? utilsService.convertirCOP(saldo) : "..."
            }}</span>
            <ng-template #saldoOcultado>$ *********</ng-template>
          </span>
          <button
            class="account__card__balance__toggle"
            (click)="toggleSaldoOculto()"
            [ngClass]="{
              'account__card__balance__toggle--show': saldoOculto,
              'account__card__balance__toggle--hide': !saldoOculto
            }"
          >
            <i
              class="account__card__amount__icon account__card__amount__icon--show fa-solid fa-eye fa-xl"
            ></i>
            <i
              class="account__card__amount__icon account__card__amount__icon--hide fa-solid fa-eye-slash fa-xl"
            ></i>
          </button>
        </div>
        <div class="account__card__options">
          <button
            class="account__card__button account__card__button--load"
            (click)="abrirDialogoCarga()"
          >
            <i
              class="account__card__button__icon fa-regular fa-square-plus fa-2xl"
            ></i>
            <span class="account__card__button__text">Cargar</span>
          </button>
          <button
            class="account__card__button account__card__button--unload"
            (click)="abrirDialogoDescarga()"
          >
            <i
              class="account__card__button__icon fa-regular fa-square-minus fa-2xl"
            ></i>
            <span class="account__card__button__text">Descargar</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="savings__right">
    <div class="movements">
      <h5 class="movements__title">Tus últimos movimientos</h5>

      <ul class="movements__list">
        <li
          class="movements__item"
          *ngFor="let movimiento of ultimosMovimientos"
          [ngClass]="{
            'movements__item--load': tiposLoad.includes(movimiento.tipo),
            'movements__item--unload': tiposUnload.includes(movimiento.tipo),
          }"
        >
          <div class="movements__item__left">
            <i
              class="movements__icon fa-solid fa-money-bill-wave fa-xl"
              [ngClass]="{
                'fa-money-bill-wave':
                  movimiento.tipo == 'carga-cuenta' ||
                  movimiento.tipo == 'descarga-cuenta',
                'fa-wallet':
                  movimiento.tipo == 'carga-bolsillo' ||
                  movimiento.tipo == 'descarga-bolsillo',
                'fa-receipt':
                  movimiento.tipo == 'inversion-cdt' ||
                  movimiento.tipo == 'liquidacion-cdt' ||
                  movimiento.tipo == 'cancelacion-cdt',
                  
              }"
            ></i>
            <div class="movements__details">
              <span class="movements__details__desc">{{
                utilsService.obtenerNombreTipoMovimiento(movimiento.tipo)
              }}</span>
              <span class="movements__details__date">
                {{ utilsService.convertirFecha(movimiento.fecha) }}
              </span>
            </div>
          </div>
          <span class="movements__amount">
            {{ utilsService.convertirCOP(movimiento.monto) }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
