<div class="page bg-home">
  <h3>¿Qué quieres hacer hoy?</h3>

  <div class="menu">
    <a class="menu__option" routerLink="savings">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-bank.png"
          class="menu__option__img"
          alt="Cuenta de ahorros"
        />
      </div>
      <h6>Cuenta de ahorros</h6>
    </a>

    <a class="menu__option" routerLink="pockets">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-money-transfer.png"
          class="menu__option__img"
          alt="Bolsillos"
        />
      </div>
      <h6>Bolsillos</h6>
    </a>

    <a class="menu__option" routerLink="investments">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-sales-performance.png"
          class="menu__option__img"
          alt="Inversiones"
        />
      </div>
      <h6>Inversiones</h6>
    </a>

    <a class="menu__option">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-receive-cash.png"
          class="menu__option__img"
          alt="Leasing estudiantil"
        />
      </div>
      <h6>Leasing estudiantil</h6>
    </a>

    <a class="menu__option">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-university.png"
          class="menu__option__img"
          alt="Crédito universitario"
        />
      </div>
      <h6>Crédito universitario</h6>
    </a>

    <a class="menu__option">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-learning.png"
          class="menu__option__img"
          alt="Educación financiera"
        />
      </div>
      <h6>Educación financiera</h6>
    </a>

    <a class="menu__option">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-support.png"
          class="menu__option__img"
          alt="Soporte técnico"
        />
      </div>
      <h6>Soporte técnico</h6>
    </a>

    <a class="menu__option" (click)="cerrarSesion()">
      <div class="menu__option__bg">
        <img
          src="../../../assets/img/icon-shutdown.png"
          class="menu__option__img"
          alt="Salir"
        />
      </div>
      <h6>Salir</h6>
    </a>
  </div>
</div>
