<div class="layout bg-landing">
  <nav class="navbar">
    <a class="navbar__logo" href="">
      <img
        src="../../../assets/img/logo.png"
        alt="F4Y"
        class="navbar__logo__img"
      />
    </a>

    <ul class="navbar__menu">
      <li class="navbar__menu__option">
        <a href="#">Inicio</a>
      </li>
      <li class="navbar__menu__option">
        <a href="#">Sobre nosotros</a>
      </li>
      <li class="navbar__menu__option">
        <a href="#">Servicios</a>
      </li>
      <li class="navbar__menu__option">
        <a href="#">Preguntas frecuentes</a>
      </li>
      <li class="navbar__menu__option">
        <a href="#">Términos y condiciones</a>
      </li>
      <li class="navbar__menu__option">
        <a href="#">Soporte</a>
      </li>
    </ul>

    <div class="navbar__options">
      <a class="navbar__options__button" href="/login"> Iniciar sesión </a>
      <a
        class="navbar__options__button navbar__options__button--outline"
        href="/register"
        >Regístrate</a
      >
    </div>
  </nav>

  <main class="content">
    <div class="content__left">
      <div class="landing-img"></div>
    </div>
    <div class="content__right">
      <p class="landing-text">Controla tus finanzas, controla tu futuro.</p>
      <p class="landing-text">
        Con Fin4Youth podrás dar el primer paso para llevar una vida financiera
        responsable, de cero a experto.
      </p>
      <p class="landing-text">¿Qué estás esperando?</p>
      <a class="landing-button" href="/register">¡Regístrate!</a>
    </div>
  </main>
</div>
