<div class="page">
  <div class="page__header">
    <h3 class="page__title" *ngIf="rutaActual == ''">Tus inversiones</h3>
    <h3 class="page__title" *ngIf="rutaActual == '/create'">Calcula y crea tu CDT</h3>
    <h3 class="page__title" *ngIf="rutaActual.match('^/\\d+$')">
      Detalles de tu inversión
    </h3>

    <div class="page__header__left">
      <button
        class="page__button page__button--calculate"
        routerLink="create"
        *ngIf="rutaActual == ''"
      >
        <i class="page__button__icon fa-solid fa-file-invoice-dollar"></i>

        <span class="page__button__text">Crear CDT</span>
      </button>

      <button
        class="page__button"
        routerLink="/panel/investments"
        *ngIf="rutaActual != ''"
      >
        <i class="page__button__icon fa-solid fa-arrow-alt-circle-left"></i>

        <span class="page__button__text">Volver a Inversiones</span>
      </button>
    </div>
  </div>

  <div class="page__content">
    <router-outlet></router-outlet>
  </div>
</div>
