.page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 60px 80px;
  box-sizing: border-box;
}

.page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page__header__left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.page__button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  font-size: var(--font-size-text-big);
  font-weight: bold;
  color: var(--color-light);
  background-color: var(--color-primary);
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.page__button:hover {
  background-color: var(--color-primary-hover);
}

.page__button--calculate {
  background-color: var(--color-tertiary);
}

.page__button--calculate:hover {
  background-color: var(--color-tertiary-hover);
}