<form class="form" (ngSubmit)="actualizar()">
  <div class="form__column">
    <div class="form__group">
      <label class="form__label" for="claveActual">Contraseña actual</label>
      <input
        type="password"
        id="claveActual"
        name="claveActual"
        class="form__input"
        placeholder="Ingresa una contraseña"
        [(ngModel)]="formulario.claveActual"
      />
      <span
        class="form__invalid-text"
        *ngIf="formularioEnviado && !formulario.claveActual"
      >
        La contraseña actual es requerida.
      </span>
    </div>

    <div class="form__group">
      <label class="form__label" for="clave">Contraseña nueva</label>
      <input
        type="password"
        id="clave"
        name="clave"
        class="form__input"
        placeholder="Ingresa una contraseña"
        [(ngModel)]="formulario.clave"
      />
      <span
        class="form__invalid-text"
        *ngIf="formularioEnviado && !formulario.clave"
      >
        La contraseña es requerida.
      </span>
      <span
        class="form__invalid-text"
        *ngIf="
          formularioEnviado &&
          formulario.clave.length < 8 &&
          formulario.clave.length > 20
        "
      >
        La contraseña debe tener entre 8 y 20 caracteres.
      </span>
      <span
        class="form__invalid-text"
        *ngIf="
          formularioEnviado &&
          !!formulario.clave &&
          !patronClave.test(formulario.clave)
        "
      >
        La contraseña debe tener mínimo 1 letra minúscula, 1 letra mayúscula, 1
        número y 1 caracter especial.
      </span>
    </div>

    <div class="form__group">
      <label class="form__label" for="repetirClave">Repetir contraseña</label>
      <input
        type="password"
        id="repetirClave"
        name="repetirClave"
        class="form__input"
        placeholder="Repite la contraseña"
        [(ngModel)]="formulario.repetirClave"
      />
      <span
        class="form__invalid-text"
        *ngIf="formularioEnviado && !formulario.clave"
      >
        La contraseña es requerida.
      </span>
      <span
        class="form__invalid-text"
        *ngIf="formularioEnviado && formulario.clave != formulario.repetirClave"
      >
        Las contraseñas deben ser iguales.
      </span>
    </div>

    <button
      class="form__button"
      type="submit"
      [disabled]="formularioEnviado && !verificarCampos()"
    >
      Actualizar datos
    </button>
  </div>
</form>
