<div class="layout">
  <nav class="navbar">
    <div class="navbar__left">
      <h5 class="navbar__title" *ngIf="rutaActual == ''; else anyRute">
        ¡Hola de nuevo{{ nombre ? ", " + nombre.primerNombre + "!" : "!" }}
      </h5>
      <ng-template #anyRute>
        <button class="back__button" routerLink="/panel">
          <i class="back-button__icon fa-solid fa-arrow-left fa-xl"></i>
          <span>Volver a Inicio</span>
        </button>
      </ng-template>

      <div class="navbar__date">
        <span>{{ fechaTexto }}</span>
        <span>{{ horaTexto }}</span>
      </div>
    </div>

    <div class="v-line"></div>

    <div class="navbar__right">
      <div class="navbar__settings">
        <a
          class="navbar__settings__link"
          routerLink="settings"
          [ngClass]="{
            'navbar__settings__link--active': rutaActual.startsWith('/settings')
          }"
        >
          <i class="navbar__settings__icon fa-solid fa-user-gear fa-xl"></i>
          <span class="navbar__settings__text">Actualizar datos</span>
        </a>
      </div>

      <div class="logo__container">
        <div class="bg-logo__corner"></div>
        <div class="bg-logo">
          <div class="logo"></div>
        </div>
      </div>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
