<div class="layout">
  <nav class="navbar">
    <div class="navbar__left">
      <h5 class="navbar__title" *ngIf="rutaActual == ''; else anyRute">
        ¡Hola de nuevo{{ nombre ? ", " + nombre.primerNombre + "!" : "!" }}
        {{ rutaActual }}
      </h5>
      <ng-template #anyRute>
        <button class="back__button" routerLink="/panel">
          <mat-icon fontIcon="arrow_back" class="back-button__icon"></mat-icon>
          <span>Volver a Inicio</span>
        </button>
      </ng-template>

      <div class="navbar__date">
        <span>{{ fechaTexto }}</span>
        <span>{{ horaTexto }}</span>
      </div>
    </div>

    <div class="v-line"></div>

    <div class="navbar__right">
      <div class="navbar__settings">
        <a class="navbar__settings__link" routerLink="settings" [ngClass]="{'navbar__settings__link--active': rutaActual.startsWith('/settings')}">
          <mat-icon
            fontIcon="settings"
            class="navbar__settings__icon"
          ></mat-icon>
          <span class="navbar__settings__text">Ajustes</span>
        </a>
      </div>

      <div class="logo__container">
        <div class="bg-logo__corner"></div>
        <div class="bg-logo">
          <div class="logo"></div>
        </div>
      </div>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
